 
{% extends "base.html" %}
{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
             <h1 class="h3 mb-2 text-gray-800">Korba Diagnostic Center Schedule</h1>     
          </div>
          <div>
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
              <div class="alert .bg-gradient-success" style="background-color:lightgreen;" role="alert" >
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h4 style="color: white;">{{ message }}</h4>
              </div>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
              <div class="alert .bg-gradient-success" style="background-color:lightcoral" role="alert" >
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <h4 style="color: white;">{{ message }}</h4>
              </div>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
     
          </div>
        <!-- DataTales Example -->
          <div class="card shadow mb-4">
        
            <div class="card-body">
              <form action="" method="POST"id ="SHWS">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="first">Doctor Name</label>
                      <select class="js-example-basic-single form-control  form-control-user" name="vmhost" id="vmhost" >
                        <option selected>Select Doctor Name</option>
                        {% for item in data1%}
                        <option value="{{item[0]}}">{{item[1]}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!--  col-md-6   -->
            
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="last">Doctor ID</label>
                      <select class="form-control form-control-user" name="docid" id="docid" >
                        <option selected>Select Doctor ID</option>
                        {% for item in data2%}
                        <option value="{{item[0]}}">{{item[0]}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!--  col-md-6   -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="last">Speciality</label>
                      <select class="form-control form-control-user" name="holo" id="holo" >
                        <option >Select Speciality</option>
                        <option value="" selected>Pediatrics </option>
        
                      </select>
                    </div>
                  </div>
                </div>
            
            
                <!--  <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="company">Schedule Month</label>
                      <select class="form-control form-control-user" name="bkptype" id="bkptype" >
                        <option selected>Select Type</option>
                        <option value="current" selected>Current Month</option>
                        <option value="last">Last</option>
                      </select>
                    </div>
                  </div>

          
                </div>
              -->
              
                  <!--  col-md-6   -->
                  <br>
                <!--  row   -->
                <div class="row">
                  <div class="col-lg-7">
                <button type="submit" style="width:30%;position:relative;left:60%;height: 100%;font:menu; " class="btn btn-primary">Search</button>
                <a href="#" data-toggle="modal" data-target="#Addnew"  style="width:30%;position:relative;left:60% ;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas  fa-upload fa-sm text-white-50"></i> Create a Schedule </a>
                <button type="button" data-toggle="modal" data-target="#extract" style="width:30%;position:relative;left:60%;height: 100%;font:menu; " class="open-AddBookDialog d-none d-sm-inline-block btn btn-sm btn-success">Export to Excel</button>
              </div>
            </div>
                <br>
              
                <div class="row">
                  
                  <!--  col-md-6   -->
                 
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                  
                          <th>Doctor Name</th>
                          <th>Doctor ID</th>
                          <th>Speciality</th>
                          <th>Date</th>
                          <th>Day</th>
                          <th>From</th>
                          <th>TO</th>
                          <th>Room</th>
                          <th></th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for item in schedule %}
                        <tr>
                         
                      
                          <td>{{item[1]}}</td>
                          <td>{{item[2]}}</td>
                          <td>{{item[3]}}</td>
                          <td>{{item[4]}}</td>
                         
                          <td>{{item[5]}}</td>
                         
                      
                          <td>{{item[6]}}</td>
                          <td>{{item[7]}}</td>
                          <td>{{item[8]}}</td>
                          <td><button  type='button' data-toggle="modal" data-row-val1="{{item[0]}}" data-row-val2="{{item[1]}}"   data-target="#edit" class="open-AddBookDialog d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Edit </button></td>
                        
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!--  col-md-6   -->
                </div>
                <!--  row   -->
            
            
              
              
            
        <br>
        <br>
            
            
          
              </form>
          </div>
        </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; U3's 2022</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    <div class="modal fade" id="Addnew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Creating Doctor Schedule </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
          <div class="modal-body">
              <form action="{{url_for('schedule_create_Korba')}}" method="POST" id ="MN">
            <div class="form-group">
              <label>Doctor Name</label>
              <select class="js-example-basic-single form-control  form-control-user" name="Docname" id="Docname" required >
                <option selected>Select Doctor Name</option>
                {% for item in data1%}
                <option value="{{item[0]}}">{{item[1]}}</option>
                {% endfor %}
              </select>
           </div> 
            
            <div class="form-group">
              <label>From</label>
            <input  name="From" id="From" type="datetime-local" class="form-control form-control-user" required >
           </div> 
            
            <div class="form-group">
              <label>To</label>
              <input  name="To" id="To" type="datetime-local" class="form-control form-control-user" required>
           </div> 
           
            <div class="form-group">
              <label>Room No.</label>
              <input type="text" name="room" id="room"  value="16" class="form-control form-control-user" required>
            </div> 
          
            <div class="form-group">
              <label>Comments</label>
              <textarea  name="comm" id="comm"  class="form-control form-control-user" ></textarea>
            </div> 
            <!--<div class="form-group">
              <label>Resolution Date</label>
              <input type="date" class="form-control form-control-user" name=Rdate/>
            </div> 
          -->
            
            <div class="form-group">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" type="submit" id="submit" >Confirm</button>
          </div>
      </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Doctor Schedule </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        
        <div class="modal-body">
            <form action="{{url_for('schedule_edit_korba')}}" method="POST" id ="MN">
          <div class="form-group">
            <label>Doctor Name</label>
            <input type="hidden" id="docn" name="docn" value="">
            <input type="text" id="docn2" name="docn2" value="" class="form-control form-control-user" readonly>
         </div> 
          
          <div class="form-group">
            <label>From</label>
          <input  name="From" id="From" type="datetime-local" class="form-control form-control-user" required >
         </div> 
          
          <div class="form-group">
            <label>To</label>
            <input  name="To" id="To" type="datetime-local" class="form-control form-control-user" required>
         </div> 
         
          <!--<div class="form-group">
            <label>Room No.</label>
            <input type="text" name="room" id="room"  class="form-control form-control-user" required>
          </div> 
        
          <<div class="form-group">
            <label>Comments</label>
            <textarea  name="comm" id="comm"  class="form-control form-control-user" ></textarea>
          </div> 
          <div class="form-group">
            <label>Resolution Date</label>
            <input type="date" class="form-control form-control-user" name=Rdate/>
          </div> 
        -->
          
          <div class="form-group">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit" id="submit" >Confirm</button>
        </div>
    </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="extract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Export Schedule </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <div class="modal-body">
          <form action="{{url_for('export_pandas_excel_korba')}}" method="POST" id ="MN">
        <div class="form-group">
          <label>Doctor Name</label>
          <select class="js-example-basic-single form-control  form-control-user" name="Docname" id="Docname" required >
            <option selected>All doctor</option>
            {% for item in data1%}
            <option value="{{item[0]}}">{{item[1]}}</option>
            {% endfor %}
          </select>
       </div> 
        
        
        <div class="form-group">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit" id="submit" >Confirm</button>
      </div>
  </form>
    </div>
  </div>
</div>
</div>
    {% endblock %}
  